body {
}

.background {
  position: absolute;
  background-image: url(vectors/bground.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 649px;
  z-index: -1;
}

.header {
  height: 45px;
  width: 100%;
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;
  padding-left: 47px;
  padding-top: 12px;
}

.header__logo-nav {
  display: flex;
  align-items: center;
}

.header__logo {
  position: relative;
}
.header__img {
  position: absolute;
  top: -15px;
  left: -29px;
}

.header__heading {
  margin: 0px;
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
}

.header__menu {
  position: relative;
}

.header__nav {
  margin-left: 50px;
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3px;
}

.header__item {
  list-style: none;
  padding: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.header__item a {
  text-decoration: none;
  color: #1a0a03;
}

.header__item a:hover {
  color: #ee5514;
}

/*.header__item:nth-child(1) a {
  color: #ee5514;
}*/

.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ee5514;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  width: 137px;
  height: 59px;
  align-self: auto;
  margin-right: 20px;
  margin-top: -10px;
}

.header__button:hover {
  background-color: #ce4911;
}

.purchase {
  width: 100%;
  max-width: 1140px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: -25px;
  justify-content: space-between;
}

.purchase__text-part {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  margin-top: 65px;
}

.purchase__pics-part {
  display: flex;
  align-items: center;
  margin-top: 32px;
  position: relative;
}

.purchase__heading {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 61px;
}

.purchase__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  position: absolute;
  right: 1px;
  top: 165px;
  cursor: pointer;
}

.purchase__img {
  margin-right: 23px;
}

.purchase__heading-last-word {
  color: #ee5514;
}

.purchase__text {
  margin-top: -10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.container-center {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 200px;
}
.shoes-select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 792px;
  height: 125px;
  background: #ffffff;
  box-shadow: 0px 1px 14px rgba(26, 10, 3, 0.05);
  border-radius: 5px;
}

.shoes-select__item {
  position: relative;
  background: white;
}

.shoes-select__item::after {
  content: "";
  position: absolute;
  height: 42px;
  width: 1px;
  right: -54px;
  top: 8px;
  background-color: #ee5514;
}

.shoes-select__item-disabled::after {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  right: 0px;
  top: 0px;
}

.shoes-select__text {
  margin: 0;
  padding: 0;
  padding-left: 24px;

  font-family: "Poppins";
  font-style: normal;

  font-size: 16px;
}

.shoes-select__select {
  border: none;
  font-family: "Poppins";
  font-size: 18px;
  padding-top: 17px;
  margin-left: 16px;
  font-weight: 500;
}

.shoes-select__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ee5514;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  font-family: "Poppins";
  font-size: 16px;
  color: #fff;
  width: 128px;
  height: 56px;
  margin-right: 20px;
  margin-top: 5px;
}

.shoes-select__button:hover {
  background-color: #ce4911;
}

.video-purchase {
  width: 100%;
  max-width: 1140px;
  display: flex;

  margin: 0 auto;
  margin-bottom: 147px;
  justify-content: space-between;
  align-items: center;
}

.video-purchase__text-part {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  margin: 0;
  padding: 0;
  margin-bottom: 39px;
}

.video-purchase__video-part {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  position: relative;
}

.video-purchase__heading {
  font-family: "Source Serif Pro";
  font-weight: 600;
  font-size: 20px;
  color: #ee5514;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.video-purchase__subtitle {
  font-family: "Source Serif Pro";
  font-size: 44px;
  line-height: 130%;
  color: #1a0a03;
  margin: 0;
  padding: 0;
}

.video-purchase__text {
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
  line-height: 160%;
}

.video-purchase__video {
  border-radius: 12px;
}

.video-purchase__img {
  position: absolute;
  right: -50px;
  top: -50px;
  z-index: -1;
}

.feature {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 133.3px;
}

.feature__text-part {
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
}

.feature__cards-part {
  width: 100%;
}

.feature__heading {
  font-size: 20px;
  line-height: 150%;
  color: #ee5514;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  text-align: center;
}

.feature__subtitle {
  font-family: "Source Serif Pro";
  font-size: 44px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.feature__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 0;
}

.feature__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 423px;
  width: 360px;
  border-radius: 10px;
  text-decoration: none;
  box-sizing: border-box;

  box-shadow: 0px 1px 30px rgb(26 10 3 / 5%);
  background: #ffffff;
  padding-top: 50px;
}

.feature__item—colored {
  background-color: #fdeee8;
}

.feature__img {
  margin-bottom: 20px;
}

.feature__subtitle-item {
  font-family: "Source Serif Pro";
  font-size: 22px;
  line-height: 150%;
  margin-bottom: -1px;
}

.feature__text {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 160%;
  text-align: center;
  margin-bottom: 4px;
}

.feature__swipe {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 160%;
  color: #ee5514;
}

.feature__swipe a {
  text-decoration: none;
  color: #ee5514;
}

.feature__swipe a:hover {
  border-bottom: 1px solid;
}

.shoes-gallery {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 140px;
}

.shoes-gallery__heading {
  font-family: "Source Serif Pro";
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: #ee5514;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}

.shoes-gallery__subtitle {
  font-family: "Source Serif Pro";
  font-size: 44px;
  line-height: 130%;
  margin: 0px;
  padding: 0px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.first-slider {
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.shoes-gallery__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 34px;
}

.shoes-gallery__container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.shoes-gallery__categories {
  font-family: "Poppins";
  font-style: normal;
  font-size: 20px;
  line-height: 140%;
}

.shoes-gallery__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: stretch;
  margin: 0;
  padding: 0;
  padding-left: 26px;
}

.shoes-gallery__item {
  list-style: none;
  margin-right: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.shoes-gallery__item:hover {
  color: #ee5514;
  border-bottom: 1px solid;
}

.shoes-gallery__left {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.shoes-gallery__right {
  padding: 0;
  margin-left: 45px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.products__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  margin: 0;
  padding: 0;
}

.products__item {
  list-style: none;
  width: 263px;
  padding: 0px;
  margin: 0px;
}

.products__img {
  margin-bottom: 3px;
}

.products__heading {
  font-family: "Source Serif Pro";
  font-size: 22px;
  line-height: 150%;
  margin-bottom: -9px;
}

.products__text {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 9px;
}

.products__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee5514;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  border: none;
  width: 128px;
  height: 56px;
  align-self: auto;
}

.products__button:hover {
  background-color: #ce4911;
}

.testimonials {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 105px;
}

.testimonials__heading {
  font-family: "Source Serif Pro";
  font-size: 44px;
  line-height: 130%;
  margin: 0px;
  margin-bottom: 65px;
  padding: 0px;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.second-slider {
}

.testimonials__container {
  display: flex;
  justify-content: space-between;
}

.testimonials__img {
  margin-bottom: 26px;
}

.testimonials__cover {
  width: 555px;
}

.testimonials__quotation {
  width: 455px;
  position: relative;
}

.testimonials__buttons {
  position: absolute;
  right: 6px;
  top: -5px;
  z-index: 2;
}

.testimonials__left {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.testimonials__right {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  margin-right: -5px;
  margin-left: 45px;
  cursor: pointer;
}

.testimonials__author-container {
  margin-bottom: 10px;
}

.feedback__blockquote {
  margin: 0;
}

.feedback__heading {
  font-family: "Source Serif Pro";
  font-size: 22px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 11px;
  padding: 0;
}

.feedback__text {
  font-family: "Poppins";
  font-style: italic;
  font-size: 14px;
  line-height: 160%;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.feedback__copyright {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 160%;
  margin: 0;
  margin-bottom: -8px;
  padding: 0;
}

.feedback__author {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 160%;
}

.newsletter {
  display: flex;
  flex-wrap: no-wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.newsletter__cover {
  max-height: 330px;
}

.newsletter__img {
  width: 488px;
  height: 334px;
}

.newsletter__text-block {
  width: 100%;
  height: 334px;
  box-sizing: border-box;
  padding-top: 65px;
  padding-left: 60px;
  background-color: #85ade01a;
  border-radius: 0px 10px 10px 0px;
}

.newsletter__heading {
  font-family: "Source Serif Pro";
  font-size: 31px;
  line-height: 140%;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.newsletter__text {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 160%;
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
}

input::placeholder {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 150%;
}

.newsletter__subscription {
  height: 50px;
  width: 417px;
  background-color: #85ade01a;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0;
  padding-left: 30px;
}

.newsletter__button {
  position: relative;
  left: -10px;
  justify-content: center;
  background-color: #ee5514;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  border: none;
  width: 117px;
  height: 51px;
  align-self: auto;
  cursor: pointer;
}

.newsletter__button:hover {
  background-color: #ce4911;
}

footer {
  background-color: #ff4d1a0a;
}

.footer-content {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 107px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer__address {
  display: flex;
  flex-direction: column;
}

.footer__logo-wrapper {
  position: relative;
}

.footer__logo-wrapper a {
  text-decoration: none;
  color: #1a0a03;
}

.footer__logo {
  position: absolute;
  top: -6px;
  left: 1px;
}

.footer__heading {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  margin-left: 29px;
  margin-bottom: 25px;
  font-family: "Source Serif Pro";
  font-size: 22px;
  line-height: 150%;
}

.footer__desc {
  font-family: "Poppins";
  font-style: normal;
  font-size: 18px;
  line-height: 160%;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.footer__mail {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 160%;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.footer__mail a {
  text-decoration: none;
  color: #1a0a03;
}

.footer__social-media {
  display: flex;
  justify-content: space-between;
  max-width: 154px;
}

.footer__services {
  display: flex;
  flex-direction: column;
  max-width: 111px;
  margin-right: 30px;
}

.footer__text {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 160%;
  margin: 0;
  margin-bottom: 39px;
}

.footer__list {
  padding-left: 0;
  padding: 0;
  margin: 0;
}

.footer__item {
  list-style: none;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 160%;
  margin: 0;
  margin-bottom: 11px;
}

.footer__support {
  display: flex;
  flex-direction: column;
  max-width: 167px;
}

.footer__text {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 160%;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  margin-bottom: 39px;
}

.footer__list {
  padding-left: 0;
  padding: 0;
  margin: 0;
}

.footer__item {
  list-style: none;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 160%;
  margin: 0;
}

.footer__item a {
  text-decoration: none;
  color: #1a0a03;
}

.footer__item a:hover {
  color: #ee5514;
  border-bottom: 1px solid;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  max-width: 340px;
}

.footer__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.footer__slogan {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 160%;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.footer__contact-form {
  display: flex;
  align-items: center;
}

.footer__input {
  height: 48px;
  width: 221px;
  box-sizing: border-box;
  border: 1px solid #bdbdbd;
  background-color: #ff4d1a0a;
  border-radius: 5px;
  margin: 0;
  padding-left: 16px;
}

input::placeholder {
  font-family: "Poppins";
  font-size: 14px;
}

.footers__submit {
  position: relative;
  left: -10px;
  background-color: #ee5514;
  border-radius: 5px;
  font-family: "Poppins";
  font-size: 18px;
  color: #fff;
  border: none;
  width: 104px;
  height: 49px;
  cursor: pointer;
}

.footers__submit:hover {
  background-color: #ce4911;
}

.copyright {
  padding-bottom: 10px;
}

.contacts__copyright {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  padding-top: 15px;
}
